.content_section {
    background-color: #f5f5f5;
}

.overlay {
    width: 100%;
    min-height: 100%;
    color: rgb(95 13 238 / 0.5);
}
.header {
    /* border значит с отступы уже внутри */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box;
    width: 100%;
    height: 293px;
    margin:auto;
    /* margin это внешний отступ от элементов */
}
.header_logo {
    display: block;
    justify-content: center;
    width: 148px;
    height: 105px;
}
/* на всякий */
.header_logo-image{
    width: 100%;
}

.header_menu-list{
    display: flex;
    flex-direction: row;
    gap: 13px;
    list-style: none;
}
.header_menu-link{
    color: #000000;
    font-size: 18px;
    line-height: 100%;
}
.header_menu-item_active .header_menu-link{
    text-decoration: none;
}
.contact-info{
    width: 240px;
    height: 98px;
}

/* main */
.cover {
    width: 100%;
    min-height: 757px; /* лучше использовать min-height */
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", bold;
    padding: 50px; /* добавляет отступы */
    box-sizing: border-box;
}

.cover_title{
    width: 100%;
    color: #ffffff;
    font-family: "Raleway", bold;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 30px;
}

.accent-span {
    display: block;
    letter-spacing: 30px;
}

.text-center{
    text-align: center;
    letter-spacing: 30px;
}

.text-right{
    text-align: right;
    letter-spacing: 30px;
}

.cover_description {
    text-align: center;
    width: 100%;
    display: flex;
    margin-top: auto;  
    justify-content: space-between;
}
.cover_description-text{
    display: flex;
    align-items: center;
    width: 637px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 22px;
    word-spacing: 18px;
    text-transform: uppercase;
    line-height: 28px;
}
.button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 32px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.lots{
    margin:24px ;
    box-sizing:border-box;
    width: 1052px;
    height: 723px;
    margin-top: 0px;
    margin-bottom: 120px;
}

.about{
    box-sizing:border-box;
    width: 1052px;
    height: 595px;
    margin-top: 0px;
    margin-bottom: 180px;
}

.footer{
    box-sizing:border-box;
    width: 100%;
    height: 180px;
    margin:auto;
}
