/* место для вашего кода */
.content_header {

}
.header{
    /* border значит с отступы уже внутри */
    box-sizing:border-box;
    width: 100%;
    height: 293px;
    margin:auto;
    /* margin это внешний отступ от элементов */
}

.cover{
    box-sizing:border-box;
    width: 100%;
    height: 757px;
    margin:auto;
}
.lots{
    margin:24px ;
    box-sizing:border-box;
    width: 1052px;
    height: 723px;
}

.about{
    box-sizing:border-box;
    width: 1052px;
    height: 595px;
    margin:auto;
}

.footer{
    box-sizing:border-box;
    width: 100%;
    height: 180px;
    margin:auto;
}
